name: Code Quality

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.26.0
          cache: false

      - name: Install dependencies
        run: |
          go mod tidy

      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6.1
          install-mode: goinstall
